.footer{
    background: rgb(56, 45, 45);
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer a{
    color: white;
    
}

.category::after{
    margin-top: 10px;
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background-color: wheat;
}
.icons{
    display: flex;
}
.icons i{
    margin: 10px;
    padding: 5px;
}
.category{
    padding-top: 20px;
}
.footer li{
    margin: 10px 0;
}