.block {
    width: 200px;
    height: 200px;
    position: relative;
}

.block-orange {
    background: orange;
    z-index: 1;
}

.block-green {
    background: green;
    z-index: 2;
}

.block-blue {
    background: blue;
    z-index: 3;
}