.background-container{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
}
.centered div{
    margin-bottom: 50px;
    font-family: 'Arial';
}
.centered .text1{
    font-size: 80px;
    font-weight: bold;
}
.centered .text2{
    font-size: 20px;
    
}
.centered .text3{
    padding: 20px;
    background: red;
    display: inline-block;
    font-weight: bold;
}
.background{
    width: 100%;
}

.sports_car {
    width: 50%;
    float: left;
}

.seating_layout {
    color: #fff;
}

h2.title {
    font-size: 30px;
}

h2.title::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: red;
    margin: 20px 0;
}

h3.short-desc {
    font-size: 20px;
    margin: 30px 0;
    font-style: italic;
}

p.detail-news {
    font-size: 16px;
    margin: 20px 0;
}

.body-container div {
    width: 50%;
    float: left;
    padding: 20px 65px;
}

.body-container {
    /* line-height: 1.5; */
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(98deg, #fff 0%, #fff 50%, #000 50.1%, #000 100%);
    width: 100%;
    display: inline-block;
}